name: nf-core CI
# This workflow is triggered on pushes and PRs to the repository.
# It runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on: [push, pull_request]

jobs:
  test:
    env:
      NXF_VER: ${{ matrix.nxf_ver }}
      NXF_ANSI_LOG: false
      NXF_RUN: "nextflow run"
    runs-on: ubuntu-latest
    strategy:
      # Do ALL the tests even if one of them fails
      fail-fast: false
      matrix:
        # Nextflow versions: check pipeline minimum and current latest
        nxf_ver: ['19.10.0', '']
        profile_flags: [
        'test_bam',
        'test_sambamba',
        'test_bam --search_noncoding',
        'test_diff_hash',
        'test_diff_hash --with_abundance',
        'test_diff_hash_sourmash',
        'test_diff_hash_is_aligned',
        'test_download_refseq',
        'test_make_diamond_db',
        'test_fastq',
        'test_fastq_paired',
        'test_hash2kmer',
        'test_input_is_protein',
        'test_noncoding',
        'test_skip_qc',
        'test_sourmash_search',
        'test_sencha',
        'test_sencha --skip_search',
        'test_sencha_sambamba'
        ]
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v2
      - name: Install Nextflow
        run: |
          export NXF_VER=${{ matrix.nxf_ver }}
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
      - name: Check if Dockerfile or Conda environment changed
        uses: technote-space/get-diff-action@v1
        with:
          PREFIX_FILTER: |
            Dockerfile
            environment.yml
      - name: Build new docker image
        if: env.GIT_DIFF
        run: docker build --no-cache . -t nfcore/kmermaid:dev
      - name: Pull docker image
        if: ${{ !env.GIT_DIFF }}
        run: |
          docker pull nfcore/kmermaid:dev
          docker tag nfcore/kmermaid:dev nfcore/kmermaid:dev
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
      - name: Run pipeline with ${{ matrix.profile_flags }}
        run: |
          # TODO nf-core: You can customise CI pipeline run tests as required
          # (eg. adding multiple test runs with different parameters)
          ${NXF_RUN} ${GITHUB_WORKSPACE} -profile docker,${{ matrix.profile_flags }}
